.mb5{
	margin-bottom: 5px;
}
.mb15{
	margin-bottom: 15px;
}
.mb20{
	margin-bottom: 20px;
}
.mb30{
	margin-bottom: 30px;
}
.mb50{
	margin-bottom: 50px;
}
.mb75{
	margin-bottom: 75px;
}
.mb100{
	margin-bottom: 100px;
}
.mt20{
	margin-top:20px;
}
.mt30{
	margin-top: 30px;
}
.mt50{
	margin-top: 50px;
}

.plr10{
	padding-right: 10px;
	padding-left: 10px;
}
.plr20{
	padding-right: 20px;
	padding-left: 20px;
}
/*Layar normal*/
@media (max-width: 1200px) {

}


/*Layar kecil*/
@media (max-width: 992px) {

}


/*Hp normal*/
@media (max-width: 768px) {

}


/*Hp kecil*/
@media (max-width: 576px) {
	
}