.mb3{
	margin-bottom: 3px;
}
.mb10{
	margin-bottom: 10px;
}
.boxPilihanPembayaran{
	color: #00b7c4; height: 100px;
	cursor: pointer;
}
.litle-title{
	font-weight: 600;
	color: grey;
}
.nomrg{
	margin: 0px;
}
.pl5{
	padding-left: 5px;
}
.plr5{
	padding-left: 5px;
	padding-right: 5px;
}
.mlr5{
	margin-left: 5px;
	margin-right: 5px;
}
.box26{
	background-color: #c1c1c1; border-radius: 4px; margin-top: 10px; margin-bottom: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}
.box26 p{
	margin: 0;
}
.btn-brown{
	background-color: #b6b6b6;
	color: #fff;
}
.small-text{
	color: grey;
	font-size: 12px
}
.mr10{
	margin-right: 10px !important;
}
.pr10{
	padding-right: 10px;
}
.pr15{
	padding-right: 15px;
}
.br0{
	border-radius: 0px;
}
.fw500{
	font-weight: 500!important;
}
.fw400{
	font-weight: 400!important;
}
.bg0{
	background-color: transparent !important;
}
.red{
	color: #e74c3c;
}
.yellow{
	color: #ffbe00;
}
.peach{
	color: #0e6473;
}
.mb20{
	margin-bottom: 20px;
}
.noPaddingSide{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.ipwhistlistbox{
	background-color: #f86052;
	border-radius: 10px;
	min-height: 100px;
	padding: 15px 20px;
	color: #fff;
	text-align: justify;
}
.plr50{
	padding-left: 50px;
	padding-right: 50px;
}
.pl0{
	padding-left: 0px!important;
}
.mb20{
	margin-bottom: 20px;
}
ol.breadcrumb{
	padding: 0px;
	margin: 0px;
	background-color: transparent;
}
.breadcrumb>li+li::before{
    font-family: 'fontAwesome';
    content: "\f105" !important;
}
td.lh32{
	line-height: 32px;
}
.lh32{
	line-height: 32px;
}
.mt20{
	margin-top: 20px;
}
.noPadding{
	padding: 0px;
}
.right{
	text-align: right !important;
}
.left{
	text-align: left !important;
}
 td.left{
	padding-left: 10px;
}
 td.right{
	padding-right: 10px;
}
.dshbrd{
	height: 150px; border-right: 3px solid black;
}
.h100{
	height: 100px;
}
.footerAdmin{
	text-align: center;
	min-height: 40px;
	color: #fff !important;
	background-color: #002930;
}
table.dataTable tr th{ background-color: #00b7b7;  border:1px lightgrey; color: #fff}
table.dataTable tr.odd td{ background-color: #dbfefe;  border:1px lightgrey;}
table.dataTable tr.even td{ background-color: #fff; border:1px lightgrey; }
.judul{
	font-size: 24px; font-weight: 600 ; color: #000;
}
.p20{
	padding: 20px;
}
.pt10{
	padding-top: 10px
}
.pb20{
	padding-bottom: 20px;
}
.bgWhite{
	background-color: #fff;
}
/* Dropdown Button */
.textDecorationNone{
	text-decoration: none !important;
}
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #000;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content:before {
    content:"";
    position: absolute;
    left: 11px;
    top: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #000 transparent;
    z-index:9999;
}
.verticalCenter:hover {
    box-shadow: 0 2px 6px 0 hsla(0, 0% , 0%, 0.8);
    cursor: pointer;
}
.vhCenter{
	display: grid; height: 100%
}
.dropdown-content:after {
    content:"";
    position: absolute;
    left: 4px;
    top: -22px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 17px 17px 17px;
    border-color: transparent transparent transparent transparent;
    z-index:9998;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #fff; color: black}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    box-shadow: 0 2px 6px 0 hsla(0, 0% , 0%, 0.8);
} 
.nav .active.verticalCenter  {
	background-color: #5cbbcc;
}
.nav .active .verticalCenterIn i,.nav .active .verticalCenterIn div{
	color: white !important;
}
.admin{
	background-color: #0e6473 !important;
}
.container > .navbar-header {
	background-color: #0e6473 !important;
}
.admin a{
	color: #fff
}
.nav > li > a {
    color: #f6f6f6;
}
.blog > .nav > li > a {
    color: #000 !important;
}
.navbarBrandHome img{
	margin-top: 0px;
}
.container > .navbar-collapse, .container > .navbar-header {
	background-color: #0e6473 !important;
}
.mT150{
	margin-top: 150px
}
.mT50{
	margin-top: 50px
}
.mT80{
	margin-top: 80px;
}
.mT70{
	margin-top: 70px;
}
.mT100{
	margin-top: 100px;
}
.mB100{
	margin-bottom: 100px
}
.mB50{
	margin-bottom: 50px
}
.test{
	border: solid thin black;
	min-height: 100px;
}
.test2{
	border: solid thin red !important;
	min-height: 100px;
}
.boxShadow{
    box-shadow: 0 2px 6px 0 hsla(0, 0% , 0%, 0.2);
}
.shadow{
    box-shadow: 0 2px 6px 0 hsla(0, 0% , 0%, 0.2);
}
.test3{
	border: solid thin green;
	min-height: 100px;
}
.test4{
	border: solid thin blue;
	min-height: 100px;
}

/*memuat center vertical*/
.verticalCenter {
display: grid; height: 100%
}
.verticalCenterIn{
	margin :auto;
}

.iL i{
	font-size: 42px;
}
.boxNavbarCustom{
	padding: 20px;
	height: 150px;
}
.boxNavbarCustom i{
	color: #105d6e;
	font-weight: 500;
}
.boxCustomText{
	color: #105d6e;
	font-weight: 500;
}
.bgWhite{
	background-color: #fff;
}
@media (max-width: 1200px) {
	.iL i{
		font-size: 32px;
	}
}
@media (max-width: 992px) {
	.iS i{
		font-size: 20px;
	}
	.boxNavbarCustom{
		height: 100px;
		padding: 10px 0px 10px 10px;
	}
	.boxCustomText{
		font-size: 12px;
	}
}
@media (max-width: 768px) {

}
@media (max-width: 576px) {}
.iM i{
	font-size: 
}