html, body{
	background-color: #00D25A;
	/*background-color: #8f8686;*/
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-family: segoui;
	height: 100%;
	margin: 0;
	letter-spacing: 1px;
}

a{
	color: white !important;
}

@font-face {
    font-family: 'segoui';
    src: url('/assets/fonts/SEGOEUI.TTF');
}
.display-inline-block{
	display: inline-block;
}
.w300{
	width: 300px;
}
.justify{
	text-align: justify;
}
.btn-peach{
	background-color: #0AAA4D !important; 
	font-weight: 800; 
	letter-spacing: 1.4px;
	padding: 10px;
}
.centered{
	text-align: center;
}
.bg-bulat{
	height: 130px; 
	width: 130px; 
	background-color: white;
	display: inline-block;
	border-radius: 100px;
	padding: 10px;
}
.img-mid-content{
	height: 250px; 
	width: 350px; 
	display: inline-block;
	padding: 10px;
}
.img-mid-content-bangku{
	width: 300px; 
	display: inline-block;
	padding: 10px;
}
.ls15{
	letter-spacing: 1.5px;
}
.f20{
	font-size: 20px;
}
.white{
	color: white;
}
.w100{
	width: 100%;
}
.flexCenter{
	display: flex;
	align-items: center;
	justify-content: center;
}
.bulat{
	border-radius: 1000px;
}
.full{
	height: 100%;
	width: 100%;
}
.test{
	border: salmon thin solid;
	min-height: 100px;
}
.box-login{
	min-height: 200px;
	min-width: 500px;
	display: flex;
	justify-content: center;
}
.box-img-profile{
	background-color: #0AAA4D;
	border-radius: 25px;
	height: 140px;
	width: 140px;
	padding: 12px;
	margin-bottom: 30px;
}
.box-img-profile-inner{
	background-color: white;
	border-radius: 32px;
	height: 116px;
	width: 116px;
}
.aSmallGrey{
	font-size: 12px;
	color: #FFFFFF;
}
.aSmallGrey:hover{
	color: grey;
	text-decoration: none;
}
.box-img-profile-inner img{
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
.inputLogin{
    border: 1px solid #d2d6de;
    padding: 6px 12px !important;
    height: 40px;
    box-shadow: inset 0 2px 4px 0 hsla(0, 0%, 0%, 0.1) !important;
    color: #464646;
    border-radius: 5px;
    width: 300px;
    font-size: 14px;
    font-weight: 800;
}
.btn-login{
    height: 44px;
    color: white;
    background-color: #0AAA4D;
    width: 300px;
    font-size: 16px;
    display: table-cell;
    vertical-align: middle;
    font-weight: 800
}
.field-qr{
	display: inline-block; 
	background-color: white;
	text-align: center; 
	border-radius: 20px; 
	height: 220px;
	width: 220px; 
	padding: 10px
}

.qr-img{
	border-radius: 10px;
	height: 200px;
	width: 200px;
}
.field-lingkaran{
	display: inline-block; 
	background-color: white;
	text-align: center; 
	border-radius: 100px; 
	height: 120px;
	width: 120px; 
	padding: 10px
}
.img-verifikasi-tamu {
	position: relative;
	display: inline-block;
}
.img-verifikasi-tamu::before {
	content: ' ';
	position: absolute;
	left: 35px;
	top: 35px;
	right: 35px;
	bottom: 35px;
	background: white;
	border-radius: 100px;
}
.img-verifikasi-tamu img {
	position: relative;
	height: 250px;
	width: 250px;
}

.img-verifikasi-tamu-2 {
	position: relative;
	display: inline-block;
}
.img-verifikasi-tamu-2::before {
	content: ' ';
	position: absolute;
	left: -3px;
	top: 80px;
	right: -3px;
	bottom: 80px;
	background: white;
	border-radius: 1000px;
}
.img-verifikasi-tamu-2 img {
	position: relative;
	height: 300px;
	width: 140px;
}
/*Layar normal*/
@media (max-width: 1200px) {

}


/*Layar kecil*/
@media (max-width: 992px) {

}


/*Hp normal*/
@media (max-width: 768px) {
	.box-img-profile{
		background-color: #0AAA4D;
		border-radius: 15px;
		height: 100px;
		width: 100px;
		padding: 10px;
	}
	.box-img-profile-inner{
		background-color: white;
		border-radius: 20px;
		height: 80px;
		width: 80px;
	}

	.inputLogin{
		width: 250px;
	}
	.btn-login{
	    height: 40px;
	    color: white;
	    background-color: #0AAA4D;
	    width: 250px;
	}
	
}


/*Hp kecil*/
@media (max-width: 576px) {
	.xs-mb20{
		margin-bottom: 20px;
	}
	.field-qr{
		display: inline-block; 
		background-color: white;
		text-align: center; 
		border-radius: 20px; 
		height: 190px;
		width: 190px; 
		padding: 10px
	}
	.qr-img{
		border-radius: 10px;
		height: 170px;
		width: 170px;
	}
	.img-verifikasi-tamu {
		position: relative;
		display: inline-block;
	}
	.img-verifikasi-tamu::before {
		content: ' ';
		position: absolute;
		left: 35px;
		top: 35px;
		right: 35px;
		bottom: 35px;
		background: white;
		border-radius: 100px;
	}
	.img-verifikasi-tamu img {
		position: relative;
		height: 200px;
		width: 200px;
	}
}